<!-- <ng-template style="color: white" matStepLabel>Correo Electrónico</ng-template>

<form [formGroup]="register" *ngIf="register" class="mt-8 space-y-6" (ngSubmit)="existsEmail2()">

    <input placeholder="Número Celular" type="tel" class="primary-input" name="celular"
               formControlName="celular" maxlength="10"  ></input>
    <input placeholder="Email" type="email" class="primary-input" name="email" 
               formControlName="email"  maxlength="50"></input>

    <div *ngIf="email.errors && (email.touched || email.dirty)" class="errors">
        <span *ngIf="email.errors?.required">El correo electrónico es requerido</span>
        <br *ngIf="email.errors?.required">
        <span *ngIf="email.errors?.email">Correo electrónico inválido</span>
    </div>

    <p>Al registrarse, acepta nuestros términos y condiciones</p>

    <div class="ion-margin-top">
        <button expand="block" [disabled]="!register.valid" type="submit">Registrarse</button>
    </div>
</form> -->
    
